<div class="geral">
  <h1 id="titulo">Promoções</h1>
  <div id="produtos">
    <ul>
      <li>
        <div class="card">
          <img src="imagens/chuteira_red.jpeg">
          <h1>Chuteira Adidas</h1>
          <span class="desconto">-30%</span>
          <div class="container">
            <span class="p_antigo">
              <del>R$ 120,25</del>
            </span>
            <span class="p_novo">
              R$ 84,20
            </span><br>
            <span class="forma_pag">2x R$ 42,10</span>
          </div>
        </div>
      </li>
      <li>
        <div class="card">
          <img src="imagens/chuteira_red.jpeg">
          <h1>Chuteira Adidas</h1>
          <span class="desconto">-30%</span>
          <div class="container">
            <span class="p_antigo">
              <del>R$ 120,25</del>
            </span>
            <span class="p_novo">
              R$ 84,20
            </span>
            <br>
            <span class="forma_pag">2x R$ 42,10</span>
          </div>
        </div>
      </li>
      <li>
        <div class="card">
          <img src="imagens/chuteira_red.jpeg">
          <h1>Chuteira Adidas</h1>
          <span class="desconto">-30%</span>
          <div class="container">
            <span class="p_antigo">
              <del>R$ 120,25</del>
            </span>
            <span class="p_novo">
              R$ 84,20
            </span>
            <br>
            <span class="forma_pag">2x R$ 42,10</span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>