<div class="geral">

  <form action="">
    <fieldset>
      Nome <br>
      <input type="text" name="nome" class="entrada" autofocus placeholder="Nome" title="Por favor, Informe seu Primeiro Nome e o Sobrenome."><br>
      E-mail <br>
      <input type="email" name="email" class="entrada" placeholder="nome@email.com"><br>
      Telefone <br>
      <input type="text" name="tel" id="tel" class="entrada"><br>
      Mensagem <br>
      <textarea name="Mensagem" id="msg" cols="56" rows="7" maxlength="180" placeholder="Digite Sua Mensagem..."></textarea><br>
      <input type="submit" name="enviar" value="Enviar" id="enviar">
    </fieldset>
  </form>

</div>