// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-button {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}