// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
/* GALERIA DE PRODUTOS */
.galeria_produtos{
  text-align: center;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-new {
  align-self: flex-start;
}

.container-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}