  <div class="geral" id="galeria_produtos">
    <div class="ofertas">
      <div class="card">
        <img src="imagens/chuteira_red.jpeg">
        <h1>Chuteira Adidas</h1>
        <span class="desconto">-30%</span>
        <div class="container">
          <span class="p_antigo">
            <del>R$ 120,25</del>
          </span>
          <span class="p_novo">
            R$ 84,20
          </span>
          <br>
          <span class="forma_pag">2x R$ 42,10</span>
        </div>
      </div>
      <div class="card">
        <img src="imagens/chuteira_red.jpeg">
        <h1>Chuteira Adidas</h1>
        <span class="desconto">-30%</span>
        <div class="container">
          <span class="p_antigo">
            <del>R$ 120,25</del>
          </span>
          <span class="p_novo">
            R$ 84,20
          </span>
          <br>
          <span class="forma_pag">2x R$ 42,10</span>
        </div>
      </div>
      <div class="card">
        <img src="imagens/chuteira_red.jpeg">
        <h1>Chuteira Adidas</h1>
        <span class="desconto">-30%</span>
        <div class="container">
          <span class="p_antigo">
            <del>R$ 120,25</del>
          </span>
          <span class="p_novo">
            R$ 84,20
          </span>
          <br>
          <span class="forma_pag">2x R$ 42,10</span>
        </div>
      </div>
      <div class="card">
        <img src="imagens/BicletaCaloi.webp">
        <h1>Bicicleta aro 29 Carbon Sports 2017</h1>
        <div class="container">
          <span class="p_novo">
            R$ 7.599,00
          </span>
          <br>
          <span class="forma_pag">10x R$ 759,90</span>
        </div>
      </div>
    </div>
  </div>